.bread-crumbs{
	position: absolute;
	top: 105rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	
		@include maxWidth($sm){
			top: 86rem;
		}
	
		ul{
			display: flex;
			align-items: center;
			margin: 0 -24rem;
			
				@include maxWidth($sm){
					margin: 0 0;
				}
		}
	
		li{
			position: relative;
			margin-right: 28rem;
			max-width: 385rem;
			display: inline-block;
			height: 24rem;
			
				@include maxWidth($sm){
					max-width: 200rem;
				}
			
				&:after{
					position: absolute;
					content: '';
					right: -20rem;
					top: 50%;
					margin-top: -6rem;
					width: 12rem;
					height: 12rem;
					background-size: cover;
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.49977 11.4999L8.43311 6.49988L3.49977 1.49988' stroke='url(%23paint0_linear_14650_745)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14650_745' x1='3.49977' y1='1.49988' x2='10.4734' y2='3.21782' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300EFD1'/%3E%3Cstop offset='1' stop-color='%2300ACEA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
					pointer-events: none;
				}
			
				&:last-child{
					color: var(--color-gray-400);
					margin-right: 0;
					
						&:after{
							display: none;
						}
				}
			
				a, span{
					white-space: nowrap;
					display: inline-block;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					line-height: 24rem;
				}
		}
	
		a{
			background: var(--color-primary-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
}