.bread-crumbs{
	position: relative;

		ul{
			display: flex;
			align-items: center;
		}
	
		li{
			position: relative;
			margin-right: 28rem;
			max-width: 385rem;
			display: inline-block;
			height: 24rem;
			
				@include maxWidth($sm){
					max-width: 200rem;
				}
			
				&:after{
					position: absolute;
					content: '';
					right: -20rem;
					top: 50%;
					margin-top: -8rem;
					width: 16rem;
					height: 17rem;
					background-size: cover;
					background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12.5L10 8.5L6 4.5' stroke='%23C1C4CD' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					pointer-events: none;
				}
			
				&:last-child{
					color: var(--color-gray-400);
					margin-right: 0;
					
						&:after{
							display: none;
						}
				}
			
				a, span{
					white-space: nowrap;
					display: inline-block;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					line-height: 24rem;
				}
		}
	
		a{
			background: var(--color-primary-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
}