.not-found{
	background: var(--color-secondary-1);
	height: 100vh;
	min-height: 768rem;
	padding: 202rem 0 0;
	text-align: center;
	&-title{
		font: 700 224rem / 179.2rem var(--font-family-primary);
		letter-spacing: -.02em;
		margin-bottom: 16rem;
		color: var(--color-primary-1);
	}
	&-text{
		max-width: 460px;
		margin: 0 auto 32px;
		h2{
			color: var(--color-white);
			margin-bottom: 34rem;
		}
		p{
			font: var(--font-body-m);
			color: var(--color-white);
		}
	}
	&-link{
		.btn-secondary{
			&:hover{
				background: var(--color-primary-1);
				opacity: .8;
			}
		}
	}
}
@include maxWidth($sm) {
	.not-found{
		padding: 219rem 0 0;
		&-title{
			font: 700 128rem / 102.4rem var(--font-family-primary);
		}
		&-text{
			max-width: 312px;
			h2{
				margin-bottom: 24rem;
			}
			p{
				font: var(--font-body-m-mobile);
			}
		}
		&-link{
			max-width: 312px;
			margin: 0 auto;
			.btn{
				width: 100%;
				text-align: center;
			}
		}
	}
}