.section-privacy-policy {
    &__hero {
        background: var(--color-secondary-1);
        padding: 135rem 80rem 64rem;
        text-align: center;
        color: var(--color-white);

        &-date {
            font: var(--font-body-b);
            color: var(--color-primary-1);
            margin-bottom: 16rem;
            font-family: "Times New Roman", sans-serif;
        }

        &-title {
            margin-bottom: 24rem;
        }

        &-desc {
            font: var(--font-body-m);
            width: 768rem;
            margin: auto;
        }
    }

    .container {
        max-width: 100%;
        padding: 104rem 288rem;
        margin: 0;
        background: var(--color-gray-200);
    }

    &__info {
        blockquote {
            margin-bottom: 24rem;
            font: var(--font-h5);
            color: var(--color-gray-700);
        }

        h2 {
            font: var(--font-h4);
            font-weight: 700;
            margin: 48rem 0 24rem;
        }

        h3 {
            font: var(--font-h5);
            font-weight: 700;
            margin: 48rem 0 16rem;
        }

        p {
            font: var(--font-body-m);
            color: var(--color-gray-700);
            margin-bottom: 24rem;
        }

        ul {
            color: var(--color-gray-700);
            padding-left: 16rem;
            margin-bottom: 24rem;

            li {
                list-style: disc;
                padding-left: 6rem;
            }
        }
    }
}

@include maxWidth($sm) {
    .section-privacy-policy {
        &__hero {
            padding: 99rem 24rem 80rem;

            &-time {
                font: var(--font-body-u);
            }

            &-desc {
                font: var(--font-body-m);
                width: 100%;
            }
        }

        .container {
            padding: 80rem 24rem;
        }

        &__info {
            blockquote {
                font: var(--font-h5-mobile);
                font-weight: 700;
            }

            h2 {
                margin: 32rem 0 16rem;
                font: var(--font-h4-mobile);
                font-weight: 700;
            }

            h3 {
                margin: 32rem 0 16rem;
                font: var(--font-h5-mobile);
                font-weight: 700;
            }

            p {
                font: var(--font-body-m-mobile);

                &:not(:last-of-type) {
                    margin-bottom: 12rem;
                }
            }
        }
    }
}
