.progress{
	position: relative;
	
		&-bar{
			position: relative;
			height: 1rem;
			background-color: rgba(255, 255, 255, 0.3);
				
				&-follower{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 2rem;
					background-color: var(--color-white);
				}
		}
		
		&-pagination{
			@extend h5;
			display: inline-flex;
			align-items: center;
			color: var(--color-white);
			position: absolute;
			top: 33rem;
			right: 0;
			
				@include maxWidth($sm){
					width: 100%;
					top: 20rem;
        }
			
				&-item{
					display: inline-block;
				}
			
				.btn-arrow{
					margin-left: 25rem;
					
						@include maxWidth($sm){
							position: absolute;
							top: 0;
							right: 0;
            }
					
						.btn-icon{
							color: currentColor;
						}
				}
		}
	
		.scroll-action{
			position: absolute;
			right: 0;
			top: 32rem;
				
				@include maxWidth($sm){
					display: none;
				}
		}
}