.users{
	border-radius: 8px;
	border: 1rem solid rgba(#2E7F9A, 0.2);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(32px);
	position: relative;
	z-index: 1;
	padding: 16rem;
	
	
	&-list{
			display: flex;
		//justify-content: center;
			padding: 8rem 5rem;
			
				&-item{
					display: inline-block;
					width: 40rem;
					height: 40rem;
					border-radius: 50%;
					overflow: hidden;
					border: 2rem var(--color-gray-200) solid;
					background-color: var(--color-blue-100);
					margin-right: -14rem;
					position: relative;
					
						img{
							@include imageCover(center);
							position: relative;
							
								&[src=""]{
									opacity: 0;
								}
						}
					
						&:before{
							content: '+';
							position: absolute;
							font: var(--font-body-m);
							color: var(--color-gray-700);
							inset: 0;
							text-align: center;
							line-height: 36rem;
						}
				}
		}
	
		&-description{
			font: var(--font-body-s);
			max-width: 120rem;
			margin: 8rem auto;
			text-align: center;
			color: var(--color-gray-700);
			display: flex;
			flex-direction: column;
			align-items: center;
			
				&-item,
				span{
					display: inline-block;
				}
		}
}