.font{
		&-uppercase {
			font: var(--font-body-u);
			text-transform: uppercase;
			
				@include maxWidth($sm){
					font: var(--font-body-u-mobile);
				}
		}
}

.color{
		&-gradient{
			background: var(--color-primary-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&-white{
			color: var(--color-white);
		}
		&-gray{
				&-400{
					color: var(--color-gray-400);
				}
		}
}