<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo">
                <a href="index.html"><img src="../img/logo.svg" alt="logo" /></a>
            </div>
            <div class="footer-info">
                <div class="footer-item">
                    <div class="footer-title">Contact us</div>
                    <ul class="footer-list">
                        <li><a href="tel:8013931414" target="_blank">(801) 393-1414</a></li>
                    </ul>
                </div>
                <div class="footer-item">
                    <div class="footer-title">Address</div>
                    <ul class="footer-list">
                        <li>
                            1821 W 4000 S, Roy, <br />
                            UT 84067, USA
                        </li>
                    </ul>
                </div>
                <div class="footer-item">
                    <div class="footer-title">Email</div>
                    <ul class="footer-list">
                        <li>
                            <a href="mailto:power@designcriteria.com" target="_blank"
                                >power@designcriteria.com</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <div class="footer-item">
                    <div class="footer-title">Product</div>
                    <ul class="footer-list">
                        <li><a href="power-supplies.html" class="nav-link">Power Supplies</a></li>
                        <li><a href="magnetics.html" class="nav-link">Magnetics</a></li>
                        <li><a href="iot-remote.html" class="nav-link">IoT Remote Sensors</a></li>
                    </ul>
                </div>
                <div class="footer-item">
                    <div class="footer-title">Info</div>
                    <ul class="footer-list">
                        <li>
                            <a href="index.html#about" class="scroll-action" data-router-disabled
                                >About Us</a
                            >
                        </li>
                        <li><a href="metal.html" class="nav-link">MM Pro</a></li>
                        <li><a href="blog.html" class="nav-link">Blog</a></li>
                        <li><a href="#" data-modal-open="#contact-modal">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <ul class="footer-social">
                <li>
                    <a href="#" target="_blank" class="footer-social-link"
                        ><img src="../img/icons/ln.svg" alt="ln"
                    /></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="footer-social-link"
                        ><img src="../img/icons/yb.svg" alt="yt"
                    /></a>
                </li>
            </ul>
            <ul class="footer-bottom-nav">
                <li>© 2023 Design Criteria, Inc.</li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
            <div class="footer-made">
                <a href="#" target="_blank"><img src="../img/logo-mini.svg" alt="presto" /></a>
            </div>
        </div>
    </div>
</footer>
