<header class="header header-dark" id="header-dark">
  <div class="header-panel">
	  <div class="header-panel-logo">
		  <a href="/" class="logo">
			  <img src="../../img/logo-dark.svg" alt="Design Criteria"/>
		  </a>
	  </div>
	  <div class="header-panel-nav">
		  <nav>
			  <ul>
				  <li><a href="index.html#about" class="scroll-action" >About Us</a></li>
				  <li class="menu-item-has-children">
					  <p>Products</p>
					  <ul class="sub-menu">
						  <li>
							  <a href="power-supplies.html">
								  <span class="sub-item-image">
								  	 <picture>
										<source srcset="../../img/home/solution-1.webp" type="image/webp">
										<source srcset="../../img/home/solution-1.png" type="image/png">
										<img src="../../img/home/solution-1.png" alt="solution">
									</picture>
								  </span>
								  <span class="sub-item-title">Power Supplies</span>
								  <span class="sub-item-text">Design Criteria, Inc. is the only manufacture of exclusive, SMART power supplies for demanding applications.</span>
							  </a>
						  </li>
						  <li>
							  <a href="magnetics.html">
							  <span class="sub-item-image">
						  		 <picture>
										<source srcset="../../img/home/solution-2.webp" type="image/webp">
										<source srcset="../../img/home/solution-2.png" type="image/png">
										<img src="../../img/home/solution-2.png" alt="solution">
									</picture>
							  </span>
							  <span class="sub-item-title">Magnetics</span>
							  <span class="sub-item-text">Design Criteria, Inc. pioneers diverse switching power supply components.</span>
							  </a>
						  </li>
						  <li>
							  <a href="iot-remote.html">
							  <span class="sub-item-image">
							  	 <picture>
										<source srcset="../../img/home/solution-3.webp" type="image/webp">
										<source srcset="../../img/home/solution-3.png" type="image/png">
										<img src="../../img/home/solution-3.png" alt="solution">
									</picture>
							  </span>
							  <span class="sub-item-title">IoT Remote Sensors</span>
							  <span class="sub-item-text">We design and manufacture remote sensors for IoT applications for smart homes and smart businesses.</span>
							  </a>
						  </li>
					  </ul>
				  </li>
				  <li><a href="metal.html">MM Pro</a></li>
				  <li><a href="blog.html">Blog</a></li>
			  </ul>
		  </nav>
		  <button type="button" class="header-panel-search">
			  <img src="../img/icons/search-dark.svg" alt="search">
		  </button>
		  <button type="button" class="btn btn-secondary" data-modal-open="#contact-modal">
			  contact us
		  </button>
		  <button class="burger header-panel-burger"><span></span></button>
	  </div>
  </div>
	<div class="header-panel-overlay"></div>
	<div class="header-search">
		<div class="container">
			<div class="header-search-form">
				<form>
					<label>
						<input type="text" placeholder="Search" class="search-field" id="searchItem" autocomplete="off">
					</label>
				</form>
			</div>
			<div class="header-search-result">
				<ul class="header-search-list">
					<li><a href="#">Magnetics Lorem ipsum dolor sit amet consectetur.</a></li>
					<li><a href="#">IoT Lorem ipsum dolor sit amet consectetur.</a></li>
					<li><a href="#">Power Supplies Lorem ipsum dolor sit amet consectetur.</a></li>
				</ul>
			</div>
			<div class="search-not-found" style="display: none">
				<h6>No results found for  “<span class="search-value"></span>”</h6>
				<p>Check the spelling or use a different word or phrase.</p>
			</div>
		</div>
	</div>
</header>