<header class="header header-dark" id="header-dark">
  <div class="header-panel">
	  <div class="header-panel-logo">
		  <a href="/" class="logo">
			  <img src="../../img/logo-dark.svg" alt="Design Criteria"/>
		  </a>
	  </div>
	  <div class="header-panel-nav">
		  <nav>
			  <ul>
				  <li><a href="index.html#about" class="scroll-action" >About Us</a></li>
				  <li class="menu-item-has-children">
					  <a>Products</a>
					  <ul class="sub-menu">
						  <li>
							  <a href="power-supplies.html">
								  <span class="sub-item-image">
								  	<img src="../img/home/sub-item-1.png" alt="media">
								  </span>
								  <span class="sub-item-title">Power Supplies</span>
								  <span class="sub-item-text">Design Criteria, Inc. is the only manufacture of exclusive, SMART power supplies for demanding applications.</span>
							  </a>
						  </li>
						  <li>
							  <a href="magnetics.html">
							  <span class="sub-item-image">
						  		<img src="../img/home/sub-item-2.png" alt="media">
							  </span>
							  <span class="sub-item-title">Magnetics</span>
							  <span class="sub-item-text">Design Criteria, Inc. pioneers diverse switching power supply components.</span>
							  </a>
						  </li>
						  <li>
							  <a href="iot-remote.html">
							  <span class="sub-item-image">
							  	<img src="../img/home/sub-item-3.png" alt="media">
							  </span>
							  <span class="sub-item-title">IoT Remote Sensors</span>
							  <span class="sub-item-text">We design and manufacture remote sensors for IoT applications for smart homes and smart businesses.</span>
							  </a>
						  </li>
					  </ul>
				  </li>
				  <li><a href="metal.html">MM Pro</a></li>
				  <li><a href="blog.html">Blog</a></li>
			  </ul>
		  </nav>
		  <button type="button" class="header-panel-search">
			  <img src="../img/icons/search-dark.svg" alt="search">
		  </button>
		  <button type="button" class="btn btn-secondary" data-modal-open="#contact-modal">
			  contact us
		  </button>
		  <button class="burger header-panel-burger"><span></span></button>
	  </div>
  </div>
	<div class="header-panel-overlay"></div>
	<div class="header-search">
		<div class="container">
			<div class="header-search-form">
				<form>
					<label>
						<input type="text" placeholder="Search" class="search-field">
					</label>
				</form>
			</div>
			<div class="header-search-result">
				<ul>
					<li><a href="#">Magnetics Lorem ipsum dolor sit amet consectetur.</a></li>
					<li><a href="#">Magnetics Lorem ipsum dolor sit amet consectetur.</a></li>
					<li><a href="#">Magnetics Lorem ipsum dolor sit amet consectetur.</a></li>
					<li><a href="#">Magnetics Lorem ipsum dolor sit amet consectetur.</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>