<div class="modal" id="contact-modal">
	<div class="modal-bg"></div>
	<div class="modal-close" data-modal-close="#contact-modal"></div>
	<div class="modal-box" data-lenis-prevent>
		<div class="modal-box-item">
			<div class="contact-modal">
				<div class="contact-modal-top">
					<h6 class="h6">Use this form to describe your project</h6>
					<div class="modal-close-btn" data-modal-close="#contact-modal">
						<svg><use xlink:href="img/icons/icons.svg#close"></use></svg>
					</div>
				</div>
				<div class="contact-modal-form">
					<form>
						<p class="contact-modal-inner">
							Hi, my name is

						<label class="field">
							<input type="text" placeholder="John Smith" class="field-item" required />
						</label>
						. You can
						</p>
						<p class="contact-modal-inner">
							answer me on this email
							<label class="field">
								<input type="email" placeholder="email@box.com" class="field-item" required />
							</label>
							.
						</p>
						<p class="contact-modal-inner">
							I am looking for help with a
							<label class="field field-select">
								<select class="field-item">
									<option value="Power Supplies">Power Supplies</option>
									<option value="Power Supplies">Power Supplies</option>
									<option value="Power Supplies">Power Supplies</option>
									<option value="Power Supplies">Power Supplies</option>
								</select>
							</label>
						</p>
						<p class="contact-modal-inner">
							Message
						</p>
						<label class="field">
							<span class="field-resize"></span>
							<textarea placeholder="You message" class="field-item" required></textarea>
						</label>
						<button class="btn btn-secondary">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>