<div class="modal" id="thanks">
	<div class="modal-bg"></div>
	<div class="modal-close" data-modal-close="#thanks"></div>
	<div class="modal-box" data-lenis-prevent>
		<div class="modal-box-item">
			<div class="thanks">
				<div class="thanks-top">
					<h6 class="h6">Use this form to describe your project</h6>
					<div class="modal-close-btn" data-modal-close="#contact-modal">
						<svg><use xlink:href="img/icons/icons.svg#close"></use></svg>
					</div>
				</div>
				<div class="thanks-content">
					<h2 class="h2 thanks-content-title">
						Thank you! <br> Your submission has <br> been received!
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>