.capabilities{
  padding: 104rem 0 73rem;
  background: var(--color-secondary-1);
  .label-section{
    background: var(--color-secondary-1);
    color: var(--color-white);
  }
  .title-section{
    color: var(--color-white);
    margin-bottom: 24rem;
  }
  .text-section{
    color: var(--color-white);
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-desc{
    max-width: 400rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &-media{
    max-width: 240rem;
    max-height: 256rem;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    overflow: hidden;
    margin: 102rem 0 auto auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-info{
    width: 100%;
    max-width: 864rem;
    ul{
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      height: 288rem;
      li{
        color: var(--color-gray-300);
        font: var(--font-body-m);
        width: 50%;
        margin-bottom: 8.5rem;
        padding: 0 20rem;
        position: relative;
        &:nth-of-type(2n+1) { order: 1; }
        &:nth-of-type(2n+2) { order: 2; }
        &:nth-of-type(2n){}
        &:before{
          position: absolute;
          content: '';
          left: 0;
          top: 8.5rem;
          width: 8rem;
          height: 8rem;
          background: var(--color-gray-300);
          border-radius: 50%;
        }
      }
    }
  }
  &.bg-white{
    background-color: var(--color-gray-200);
    padding: 106rem 0 88rem;
    & + .contact{
      padding: 90rem 0 93rem;
    }
    .label-section{
      background-color: var(--color-gray-300);
      color: var(--color-gray-600);
      display: inline-block;
      max-width: 180rem;
      text-align: center;
    }
    .title-section{
      color: var(--color-secondary-1);
      margin-bottom: 28rem;
    }
    .text-section{
      strong{
        font: var(--font-body-xl);
        color: var(--color-secondary-1);
      }
      strong,
      p{
        display: block;
        margin-bottom: 16rem;
      }
      color: var(--color-gray-700);
      font: var(--font-body-m);
    }
    .capabilities{

      &-desc{
        max-width: 304rem;
      }
      &-info{
        max-width: 750rem;
        ul{
          li{
            color: var(--color-gray-700);
            font: var(--font-body-m);

            &:before{
              background: var(--color-primary-1);
            }

          }
        }
      }
    }
  }
}
@include maxWidth($sm) {
  .capabilities{
    padding: 80rem 0 80rem;
    .label-section{
      margin-bottom: 16rem;
    }
    &-desc{
      max-width: 100%;
    }
    &-wrap{
      position: relative;
      .capabilities-media{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-width: 312rem;
        max-height: 224rem;
        margin: 0 auto;
      }
    }
    &-info{
      ul{
        height: auto;
        li{
          font: var(--font-body-m-mobile);
          width: 100%;
          padding: 0 0 0 20rem;
          position: relative;
          &:nth-of-type(2n){
            margin-left: 0;
            width: 100%;
          }
        }
      }
    }
    &.bg-white{
      & + .contact{
        padding: 80rem 0;
      }
      .capabilities{
        &-wrap{
          padding-bottom: 272rem;
        }
      }
    }
  }
}