.info{
  background-color: var(--color-gray-200);
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-media{}
  &-image{
    width: 640rem;
    height: 448rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
    };
  }
  &-desc{
    max-width: 528rem;
    margin: 0  0 0 auto;
    h2{
      margin-bottom: 24rem;
      color: var(--color-secondary-1);
    }
    p{
      color: var(--color-gray-700);
    }
  }
}
@include maxWidth($sm) {
  .info{
    &-wrap{
      flex-direction: column;
    }
    &-media{
      margin-bottom:
              47rem;
    }
    &-image{
      width: 312rem;
      height: 224rem;
    }
    &-desc{
      max-width: 528rem;
      margin: 0  0 0 auto;
      h2{
        margin-bottom: 24rem;
      }
    }
  }
}